.light {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    height: 100dvh;
    padding: 30px 0 0 70px;
}

.dark {
    background-color: #5f6975;

    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    height: 100dvh;
    padding: 30px 0 0 70px;

}
